// src/styles/_variables.scss

$primary-color: #556086;  // Пример переменной
$accent-color: #414731;
$secondary-color: #000000;  // Пример переменной
$font-family: 'Arial', sans-serif;
$link-color: #ffffff; // Белый цвет для ссылок
$primary-dark: #849062;