@use '../../styles/variables' as *;

.mainpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-block-end: 10%;
  .mainpage__title {
    font-family: 'BlackGold', sans-serif; /* Используем шрифт BlackGold */
    font-size: 4rem;
    color: $primary-color; // Основной цвет заголовка
    width: 100%;
    max-width: 40%; // Ограничиваем ширину заголовка
    margin-left: 5%;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: justify;
  }

  .mainpage__text {
    font-family: 'Evolventa', sans-serif;
    color: $primary-color; // Основной цвет заголовка
    width: 100%;
    max-width: 60%; // Ограничиваем ширину текста
    margin-left: 5%;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
  }
}
