// src/styles/_variables.scss
$accent-color: #bacc87;
$primary-color: #8f9b70;  // 556086
$secondary-color: #000000;  // Пример переменной
$font-family: 'Arial', sans-serif;
$link-color: #ffffff; // Белый цвет для ссылок
$navbar-color:#e7ce60;
