// src/styles/_variables.scss
$accent-color: #887e5f;
$primary-color: #c6bb96;  // 556086
$secondary-color: #000000;  // Пример переменной
$font-family: 'Arial', sans-serif;
$link-color: #ffffff; // Белый цвет для ссылок
