@use '../../styles/variables' as *;

.main{
  font-family: "HelveticaNeueLight", sans-serif;
  position: relative;
  margin-top: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
    
  min-height: 550px;
  gap: 10px;  
   
&__about
  {
  font-size: 2rem;
  margin: 20px 0 0px 5%;
  max-width: 50%;
  }
    
&__title
  {
    font-size: 4rem;
    margin: 20px 0 0px 5%;
    max-width: 90%;
  }
  
&__item
  {
    font-size: 3.5rem;
    margin: 0px 0 0px 5%;
    max-width: 90%;
    font-family: "HelveticaNeueLight", sans-serif;
    font-weight: 100;
  }

&__row 
  {
  display: flex;
  justify-content: space-between; // 🔥 в один ряд
  align-items: flex-start;
  width: 100%;
  margin-top: 100px;
  }
   
&__month 
 {
  background-image: url("../../img/month.png");
  top: 200px;
  margin-left: 5%;
  width: 800px;
  height: 720px;
  background-repeat: no-repeat;
  background-size: contain;
 }

&__plan 
{
background-image: url("../../img/plan.png");
margin-left: auto;

  top: 200px;
  margin-right: 5%;
  width: 800px;
  height: 720px;
  background-repeat: no-repeat;
  background-size: contain;
}


  


@media (max-width: 1900px) 
{
&__month
{
  width: 600px;
  height: 620px;
}
  
&__plan
{
width: 600px;   
height: 620px;
}
}

@media (max-width: 1400px) 
{
&__month
{  
width: 400px;
height: 420px;
}
&__plan
{
width: 400px;
height: 420px;
}
}

@media (max-width: 1200px) 
{
&.main
{
margin-top: 20%;
}
}

@media (max-width: 1000px) 
{
&.main
{
margin-top: 0%;
min-height: 750px;
}
}
  
@media (max-width: 900px) 
{
&__month
{
width: 300px;
height: 320px;
}
&__plan
{
width: 300px;
height: 320px;    
}
}


@media (max-width: 700px) 
{
&__month
{
order: 1;
position: static;
margin-left: 5%;
}

&__plan
{
order: 2;
position: static;
margin-left: 5%;
}
}


@media (max-width: 500px)
{
&__about
{
font-size: 1.2rem;
margin: 20px 0 0px 5%;
max-width: 80%;
}
}
   

}