@use '../../styles/variables' as *;

.navbar {

  font-family: 'HelveticaNeueLight', sans-serif;
  display: flex;          /* flex-контейнер для всех элементов */
  align-items: center;    /* вертикальное центрирование */
  justify-content: flex-start; /* Элементы слева */
  padding: 0 3%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: top 0.3s ease-in-out;
    background-color:  $navbar-color ;
   background-image: url(../../noiseNav.svg);
}

.navbar.visible {
   
  top: 0;
}

.navbar.hidden {
  top: -100px;
}

/* Логотип остаётся слева */
.navbar__logo {
  display: flex;
  align-items: center;
  margin-left: 5%; /* отступ слева */
 
  
  .navbar__logo-img {
    max-height: 60px;
    width: auto;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.navbar__logo-img {
  max-height: 70px; /* Ограничиваем высоту логотипа */
  width: auto; /* Сохраняем пропорции */
  transition: transform 0.2s ease; /* Плавная анимация для логотипа */
 
 
 
  &:hover {
    transform: scale(1.1); /* Увеличение логотипа при наведении */
  }
}

/* Можете добавить стили для логотипа, который используется при открытом меню */
.navbar__logo-img.larger {
  max-height: 50px; /* Новый размер логотипа при открытом меню */
 
  
  &:hover {
    transform: scale(1.1); /* Увеличение логотипа при наведении */
  }
}



.navbar__links {

  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 5%; /* Ссылки располагаются на 5% от правого края */
  gap: 150px; /* Расстояние между ссылками */
}


.navbar__link {
  position: relative; /* Для псевдоэлемента */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $link-color;
  
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;

  /* Растягиваем ссылку на высоту navbara */
  height: 100%; 
  padding: 0 20px; /* Отступы для удобства */
  box-sizing: border-box; /* Учитываем отступы внутри элемента */

  /* Анимация через псевдоэлемент */
  &::after {
    content: '';
    position: absolute;
    top: 150%; /* Ставим точку под текстом */
    left: 50%; /* Центрируем точку */
    width: 6px; /* Размер круга */
    height: 6px;
    background-color: $link-color; /* Цвет точки */
    border-radius: 50%; /* Превращаем в круг */
    transition: all 0.3s ease; /* Плавность */
    transform: translateX(-50%); /* Центровка относительно середины */
  }

  &:hover::after {
    width: 100%; /* Растягиваем линию */
    height: 3px; /* Превращаем в линию */
    border-radius: 5px; /* Закругление краёв линии */
    left: 0; /* Выравниваем по левому краю */
    transform: none; /* Убираем смещение */
  }
}




.navbar__gallerey-button {
  font-size: 2.5rem;
  color: $link-color;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 20px; /* Расстояние от логотипа */
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: $link-color;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
  }

  &:hover::after {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    left: 0;
    transform: none;
  }
}


.navbar__gallerey-button {
  display: flex;
}
  .navbar__logo {
    margin-right: 0;
    margin-left: 20px;
  }

  .navbar {
    justify-content: flex-start;
  }


/* Overlay меню */
.navbar__gallerey-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-color; /* Используем primary-color */
  display: flex;
  flex-direction: column; /* Элементы теперь будут располагаться в столбик */
  justify-content: flex-start; /* Выравнивание по верху */
  align-items: flex-start; /* Выравнивание по левому краю */
  padding: 20px; /* Отступы вокруг */

}


/* Ссылки в открытом меню */
.navbar__gallerey-content {
  display: flex;
  flex-direction: column; /* Располагаем ссылки в столбик */
  align-items: flex-start; /* Ссылки слева */
  width: 100%; /* Ссылки будут занимать всю ширину */
}

.navbar__gallerey-link {

  font-size: 3rem;
  color: $link-color;
  text-decoration: none;
  margin: 15px 0; /* Расстояние между ссылками */
  width: 100%; /* Ссылки будут растягиваться на всю ширину контейнера */

  &:hover {
    color: $accent-color;
  }
}